[2016-01-05 01:43] himynameisdave opened #1 "ability to remove current labels"
Ability to remove current labels. So the first prompt will be "add or remove" and then list all current ones and you can select which to remove.

[2016-01-05 04:14] himynameisdave opened #2 "Learn/set which api url to use"
Crawl through the git data to learn what git api url to use.

[2016-01-05 04:16] himynameisdave opened #3 "Ability to just use predefined packages"
There should be an option to use the awesome predefined packages inside of [`git-label-packages`](https://github.com/jasonbellamy/git-label-packages)

[2016-01-05 04:17] himynameisdave opened #4 "Ability to reset the token"
Tokens come and go and sometimes people fuck up and install the wrong one. Okay so there should be a parameter (`-t` or something) that will reset the token.

[2016-01-05 22:39] himynameisdave commented on #2
Not applicable because an enterprise github api endpoint might be different from the standard one.

[2016-01-18 19:25] himynameisdave opened #5 "readRepo breaks because different types of URLs"
The readRepo util sometimes doesn't work, because this line is not good for every type of url:
https://github.com/himynameisdave/git-labelmaker/blob/master/components/read-repo.js#L6

[2016-01-19 02:42] #2 closed

[2016-01-19 23:53] #5 closed

[2016-01-20 00:03] Jameskmonger commented on #3
Are you accepting PRs? :smile:

[2016-01-20 01:16] himynameisdave commented on #3
Always, what have you got in mind? :smile:

[2016-01-21 04:03] himynameisdave commented on #4
Closed by #7

[2016-01-21 04:03] #4 closed

[2016-01-22 03:34] himynameisdave opened #9 "Code Cleanup"
- [ ] Move some functions into modules (ie: `fetchToken`)
- [ ] Maybe rename 'components/' directory?
- [x] Prompts should have their own directory for sure
- [ ] see how to reduce code clutter/make functions more pure (pure-er?)
- [x] ~~use a `bin/` and a `src/` directory, make babel compile shit to `bin/`~~ this is technically #16 so we'll call it out of scope for this issue

[2016-01-26 03:21] himynameisdave opened #10 "Add a banner when adding/removing labels"
Let there be a banner after you select "Add/Remove" labels, currently it's kinda meh

[2016-01-26 04:46] #1 closed

[2016-01-26 05:35] himynameisdave opened #11 "Add a confirm step before you remove labels"
Add a confirm step before you remove labels cause you might fuck up and delete them by accident.

[2016-02-04 04:36] himynameisdave opened #13 "Ability to add packages from local file"
This is what PR #12 ended up becoming. It's basically `git-label:find` sugar :coffee:

[2016-02-04 05:06] #13 closed

[2016-02-04 05:21] himynameisdave opened #14 "Safer token storage"
See if we can lock that `token.json` file down or something, or store it as an env variable and then check it out every time?

Very least some kind of `chmod` so an malicious attack would have to sudo at least (?)

[2016-02-04 05:29] himynameisdave opened #15 ""Clear All" option"
"Clear All" option would be rad. It would delete all current labels in a repo.

[2016-02-04 06:04] himynameisdave opened #16 "Better support for older noders"
Right now everything is very ES6-entric but it would be better to do a `src/` and `bin/` or something where the distribution or `bin/` file was run through like the babel or something. Those promises be risky.

And then also add to the docs about minimum node versions and stuff.

[2016-02-09 02:36] himynameisdave commented on #3
Abandoning this. If people want to use a "well known" package like `git-label-packages` they can download it locally and then use the "Add Local Package" option.

There will be too much updating/adding/arguing over what "official" packages would be in there, which I think would be out of the scope of this project.

[2016-02-09 02:36] #3 closed

[2016-02-09 02:58] himynameisdave commented on #14
Asked [a question on the stackoverflows](http://stackoverflow.com/questions/35283148/securely-store-data-in-a-node-cli-app)

[2016-02-10 04:22] himynameisdave opened #20 "If there is no token, ask for it before main menu"
Currently if there is no token set, the main menu shows, then the user inputs their token then the process exits. Things need to rotate back to the main menu

[2016-02-11 00:05] Jameskmonger opened #21 "Allow RGB colours"
Rather than only accepting 3/6 digit hex colours, RGB colours could also be accepted as an input.

[2016-02-11 05:41] himynameisdave commented on #21
Amazing, that would be super user friendly!

Okay so do you have any good snippets/modules for converting the incoming RGB values to hexes? I wrote a PostCSS plugin that does [literally the opposite](https://github.com/himynameisdave/postcss-rgb-plz) of this and will be of no help :sweat_smile:

[2016-02-11 10:03] Jameskmonger commented on #21
@himynameisdave it's easier than it sounds!

Hex colours are also RGB values but just in hex notation. (255,255,255) and (ff,ff,ff) are the same. So you just need to convert each numeric component of the decimal RGB colour into its hexadecimal form and it will be converted! :smile:

[2016-02-16 03:45] #9 closed

[2016-02-16 03:45] #10 closed

[2016-02-16 03:45] #11 closed

[2016-02-16 03:46] himynameisdave commented on #20
Closed by #17

[2016-02-16 03:46] #20 closed

[2016-02-16 03:49] himynameisdave opened #24 "Error trying to remove labels from a repo with no labels"
There is an error when trying to remove labels from a repo with no labels, should instead just say "no labels to remove" and redirect to the main menu

[2016-02-16 04:32] himynameisdave commented on #16
Prob not because `git-labelmaker` is dependant on node `>= 4.0.0`
https://github.com/jasonbellamy/git-label/blob/master/package.json#L21

[2016-02-16 04:32] #16 closed

[2016-02-16 13:47] Jameskmonger commented on #14
Can I pick this up @himynameisdave ?

[2016-02-16 14:26] himynameisdave commented on #14
Yes, what is your plan of action?

[2016-02-16 15:19] Jameskmonger commented on #14
I'd like to use https://github.com/buttercup-pw/buttercup-core to encrypt the tokens. We could allow the user to choose a password which they can remember, which will be used to encrypt/decrypt the password in the buttercup archive.

[2016-02-16 15:37] himynameisdave commented on #14
@Jameskmonger yeah I'm cool with that solution :+1:

[2016-02-16 16:18] himynameisdave commented on #14
@Jameskmonger when you open a PR for this, please merge it into the [`v0.7.0`](https://github.com/himynameisdave/git-labelmaker/tree/v0.7.0) branch, which is my working branch for all of the [0.7.0 milestone stuff](https://github.com/himynameisdave/git-labelmaker/milestones/v0.7.0)

[2016-02-22 02:41] #14 closed

[2016-02-22 02:41] #24 closed

[2016-02-22 03:21] himynameisdave opened #30 "Add some testing"
It's been too long that there aren't any tests for this... tsk tsk tsk :-1:

[2016-02-22 15:34] aloisdg opened #31 "Add a link to the article"
Hello,

Nice project you got there. I just read your medium article and I think you should link it from this repo.
You can copy it and put it on the wiki. You can add an url to the Readme. As you want. :smile:

Cheers,

[2016-02-22 15:43] himynameisdave commented on #31
Haha yes thanks I meant to do this once the article was published but forgot. Will be added shortly!

Cheers :flags: :+1:

[2016-02-22 15:52] #31 closed

[2016-02-22 17:22] anbinh opened #32 "Error: Encrypted content has been tampered with"
I got this error when running the program

<img width="642" alt="capture d ecran 2016-02-22 a 12 21 17" src="https://cloud.githubusercontent.com/assets/340262/13226311/da0c7516-d95e-11e5-82d2-3ee52f25d071.png">

[code]

[2016-02-22 17:31] himynameisdave commented on #32
@anbinh not cool... thanks for reporting, what version of node are you currently running (`node -v`)?

[2016-02-22 19:31] jaimeeee commented on #32
The same thing is happening to me, my node version is 5.6.0.

[2016-02-22 20:13] kevmoo commented on #32
Ditto, with git-labelmaker 0.7.0

[2016-02-22 21:33] himynameisdave commented on #32
~~Tested on node `v5.5.0`and it works, something about `v5.6.0`...~~ Still investigating

[2016-02-22 21:41] jaredmichaelwilliams commented on #32
@himynameisdave I'm on `v5.5.0` and I'm getting that error

[code]

[2016-02-22 21:43] himynameisdave commented on #32
Thanks still looking into this...

[2016-02-22 21:56] alchenist commented on #32
node `v5.4.1` and also getting this error. Got prompted for master password without passing in token or an initial password.

[code]

[2016-02-22 22:26] jaredmichaelwilliams commented on #32
@himynameisdave Hey, so i reverted back to

[code]

and rebuilt and now its working on 5.6.0

[2016-02-22 22:26] himynameisdave commented on #32
@Jameskmonger any ideas what's going on here?

[2016-02-22 22:35] Jameskmonger commented on #32
@himynameisdave

I believe that error is actually the "invalid password" error... Are you guys putting in the wrong password?

[2016-02-22 22:36] jaredmichaelwilliams commented on #32
@Jameskmonger this is the first time i tried to use it, i never even got to put in a token or password.

[2016-02-22 22:38] himynameisdave commented on #32
Yeah @Jameskmonger you're right about it being an invalid password error, but the real problem is that it's expecting a password before the user has even set it, like @jaredmichaelwilliams is saying... hmmmm... **(╯°□°)╯︵ ┻━┻**

[2016-02-22 22:39] Jameskmonger commented on #32
@jaredmichaelwilliams ah okay, in that case I think I might know what the issue is. @himynameisdave could you assign this to me please?

[2016-02-22 22:40] himynameisdave commented on #32
@Jameskmonger it's all you man! I'm still l:eyes:king into this though...

[2016-02-22 22:57] Jameskmonger commented on #30
I think that a good solution for this would be to potentially work on a replacement project using dependency injection (so we can fully mock out all dependencies, for example `inquirer`, for full testing) which is fully test-driven and then replace the two.. what do you think?

[2016-02-22 23:01] himynameisdave commented on #30
That sounds like a great idea, but for the scope of this issue I would just like us to have some basic tests & always write tests first as a rule of contributing

[2016-02-22 23:21] Jameskmonger commented on #32
This is now ready for code review in #32.

@jaredmichaelwilliams if you wouldn't mind, could you clone the branch `32-fix` and run `sudo npm install -g ./` in the directory? This will install the version 0.7.1-alpha which should fix this issue. Please let me know.

[2016-02-22 23:38] Jameskmonger commented on #32
Issue still persisting in 0.7.1-alpha, node 5.6.0

[2016-02-22 23:42] himynameisdave commented on #32
Damn. Can we isolate it to just that version of node? If so, then maybe [we can see if there was some change](https://nodejs.org/en/blog/release/v5.6.0/) that might have caused this...?

Maybe it's an issue with [`buttercup`](https://github.com/buttercup-pw/buttercup-core)?

[2016-02-22 23:54] Jameskmonger commented on #32
Issue is also appearing on node 5.0.0 @himynameisdave

[2016-02-22 23:59] Jameskmonger commented on #32
Oddly enough @himynameisdave the issue doesn't seem to appear when running locally with either of the following two commands:

`sudo npm install -g ./ && git-labelmaker`

(install the local version of the package and run the global `git-labelmaker` command)

`npm install && node bin/index.js`

(install all dependencies and then run the local `index.js` file)

However the following installation pro

[2016-02-23 00:15] Jameskmonger commented on #32
@himynameisdave I've done a fresh clone of the repo's master branch as it is at the moment, and then I published it to npm under the name `git-labelmaker-32fix`. I then ran the following commands:

[code]

And the command works correctly, detecting that I have not yet chosen a token and prompting me as intended. There appears to be some kind of issue with the release that has been uploaded onto np

[2016-02-23 00:16] himynameisdave commented on #32
@Jameskmonger will do, meantime still trying to get to the bottom of this...

[2016-02-23 00:19] Jameskmonger commented on #32
No problem @himynameisdave. I've tested `git-labelmaker-32fix` on node `v5.6.0` and `v5.0.0` and it's behaving as expected, while `git-labelmaker@0.7.1-alpha` is encountering the bug on the same versions. It's very odd, not sure how or why that could have happened.

Potentially your local git repo had some kind of issue before you ran `npm publish`? Seems a bit of a stretch, though...

[2016-02-23 00:30] alchenist commented on #32
On a fresh install of `git-labelmaker@0.7.0` from npm, noticed that there was an existing `.git-labelmaker.bcup` archive in the `node_modules\git-labelmaker` directory. Deleted this and everything worked fine. Somewhere along the line, an existing credentials archive is being included in the version published to npm.

[2016-02-23 00:34] Jameskmonger commented on #32
That makes perfect sense @alchenist!

@himynameisdave, we will need to add `.git-labelmaker.bcup` to `.npmignore` and republish on npm (probably best to publish as 0.7.2)

[2016-02-23 00:38] Jameskmonger opened #35 "Display friendlier error"
I think we should be showing a friendlier error than the "Encrypted content has been tampered with" when the user enters the incorrect password.

[2016-02-23 03:01] mrbaguettefr commented on #32
Thank you @alchenist,  I executed this command to delete the .git-labelmaker.bcup in the global packages of node and everything worked fine.
`rm -f /usr/local/lib/node_modules/git-labelmaker/.git-labelmaker.bcup`

[2016-02-23 04:20] tedivm opened #36 "Valid json files are being declared "not json" if it doesn't have a json extension"
This is probably minor but files that are valid json don't need a json extension (or if they do that should be documented).

[2016-02-23 05:50] himynameisdave commented on #32
@alchenist @Jameskmonger You guys are awesome, thanks for getting to the bottom of this! :+1: :smile:  :tada:

I should always create an `.npmignore` file when starting a new project, even if in my mind I don't think I'll need it.

[2016-02-23 07:40] Jameskmonger commented on #32
No problem @himynameisdave! I've made a pull request which should solve this.

[2016-02-23 12:53] Jameskmonger opened #38 "Allow resetting the token if you can't access it"
Allowing the user to reset their token if they can't access the archive (a forgotten password kind of feature) would mean that they can delete the archive if it exists, and creates a new one.

It would prevent any issues similar to last night! :stuck_out_tongue:

[2016-02-23 12:53] Jameskmonger commented on #38
@himynameisdave I've applied the labels but I'm not sure which milestone you'd like this in.

[2016-02-23 13:04] Jameskmonger commented on #36
Reclassifying this as an enhancement, as the json file extension check was intended behaviour.

I have addressed it in PR #37, so it just needs merging and publishing to npm by @himynameisdave :smile:

[2016-02-23 13:18] himynameisdave commented on #38
This is pretty critical but I'd also like to get `0.7.2` out asap, I'll create a `0.7.3` that we'll aim to get this out in :+1:

[2016-02-23 13:23] #32 closed

[2016-02-23 13:24] #36 closed

[2016-02-23 13:29] Jameskmonger opened #39 "Republish to npm as 0.7.2"

[2016-02-23 13:33] Jameskmonger commented on #39
Version bumped in 52325a044b67cc0f1f37f0606081a94d041337f7 by @himynameisdave!

[2016-02-23 13:33] #39 closed

[2016-02-23 13:39] Jameskmonger commented on #32
This is now solved in version `0.7.2`.

Thanks for your help in diagnosing this issue: @anbinh, @jaimeeee, @kevmoo, @jaredmichaelwilliams, @alchenist, @mrbaguette :fireworks:

You can download the new version with the following command:

[code]

[2016-02-23 13:41] Jameskmonger opened #42 "Password displayed in plain text"
When entering your password to unlock the archived token (after you've already successfully set it), the password is displayed in plain text.

[2016-02-23 13:42] Jameskmonger commented on #35
@himynameisdave I think this should potentially be in the `0.7.3` milestone. It's quite a quick fix and would improve the tool a lot.

[2016-02-23 14:41] himynameisdave commented on #35
@Jameskmonger Agreed

[2016-02-23 14:47] NewAlexandria opened #43 "Will not accept custom package file"
[code]
Running `git-labelmaker`, enter my password, and choose `Add Labels From Package`.  I'm prompted for a path.  I have tried all of these (test file located at each)

[code]

contents of file

[code]

I hope this helps solve an issue - or improve the docs!   Thanks for your help.

[2016-02-23 14:52] Jameskmonger commented on #43
Hi @NewAlexandria, could you try: `./github_labels.json` (in place of `github_labels.json`)?

[2016-02-23 15:32] caseybecking commented on #43
I'm having the same issue - it keeps bouncing right back to the question for path & name of the package.

[2016-02-23 15:46] Jameskmonger commented on #43
Thanks for raising this issue @NewAlexandria and @caseybecking.

[2016-02-23 16:01] himynameisdave commented on #43
@Jameskmonger I wonder if they are still using a `< 0.7.2` version that doesn't include this change: https://github.com/himynameisdave/git-labelmaker/pull/37

@NewAlexandria Try and re-install this package and see if it works. Thanks for raising this issue guys, we're looking into it now!

[2016-02-23 20:42] himynameisdave commented on #43
Not a version issue, it is actually just not accepting anything as a JSON package entry

[2016-02-23 21:36] himynameisdave opened #45 "Mention that this doesn't work with GH Enterprise atm"
We should document it in the readme that the api call is made to the public GitHub API and will not work on a private/GH enterprise repo. [`git-label`](https://github.com/jasonbellamy/git-label) supports this feature however I chose to [hardcore the api in](https://github.com/himynameisdave/git-labelmaker/blob/master/bin/utils/configGitLabel.js#L11) because it was less overhead... eventually I wou

[2016-02-24 09:25] Jameskmonger opened #46 "Allow saving all labels from a repository as a package"
I think we should allow users to dump all the labels from a repository, so that they can then apply that setup to other repositories.

This is blocked by #43

[2016-02-24 09:26] Jameskmonger commented on #46
@himynameisdave I think that 0.8.0 is the best milestone for this as it is new functionality.

[2016-02-24 11:15] Jameskmonger opened #47 "Deprecate versions 0.7.0 and 0.7.1-alpha"
$ npm deprecate git-labelmaker@0.7.0 "critical bug fixed in v0.7.2"
    $ npm deprecate git-labelmaker@0.7.1-alpha "critical bug fixed in v0.7.2"

This will give deprecation warnings to anyone installing those versions.

[2016-02-24 13:05] TheCodeDestroyer commented on #46
:+1: for this

[2016-02-24 13:20] TheCodeDestroyer opened #48 "Support GitLab"
Just a question(type), I see that most of the code refers to GitHub,
but I was wondering if you are thinking of maybe supporting [GitLab](http://doc.gitlab.com/ce/api/labels.html) as well?

P.S.: The only decent NodeJS Gitlab API wrapper I found is [this](https://github.com/node-gitlab/node-gitlab) one, but doesn't support labels from what I can see...

[2016-02-24 13:55] himynameisdave commented on #47
![](https://media.giphy.com/media/fatMB8ScpQrDO/giphy.gif)

[2016-02-24 14:46] himynameisdave commented on #46
:+1: this is a great idea

[2016-02-24 17:52] Jameskmonger commented on #42
This is an Inquirer issue.

[2016-02-24 18:45] NewAlexandria commented on #46
#43 was closed, and another PR will be opened that also precedes this one (#46)?

I don't mind either way, and cheers + thanks to you guys for adding the functionality.  Just following along here.

[2016-02-24 18:50] Jameskmonger commented on #46
The issue has been fixed in 0.7.3 which will be released soon.

@himynameisdave is there any chance you could release a 0.7.3-alpha for @NewAlexandria to use?

[2016-02-24 19:38] #45 closed

[2016-02-24 19:38] #43 closed

[2016-02-24 19:40] himynameisdave commented on #46
@Jameskmonger Yes this is a good idea, gonna merge your #50 first then I'll release that. We'll also deprecate the old versions like in #47

[2016-02-24 22:36] himynameisdave commented on #47
This is complete

[2016-02-24 22:36] #47 closed

[2016-02-24 22:47] #38 closed

[2016-02-24 22:51] himynameisdave commented on #48
**Short answer:** yes, eventually...

It was kindly [pointed out to me on Reddit](https://www.reddit.com/r/webdev/comments/470pfx/sane_github_labels/d09db51) that naming this project `git-labelmaker` when it actually only applies to GitHub was kind of a goof. So as a result I feel like in the future we should support GitLab and BitBucket, or maybe just rename this tool `github-labelmaker` and crea

[2016-02-24 23:13] Jameskmonger commented on #35
This was not released with `0.7.3-alpha`, and will instead be released with `0.7.3` stable which will be tomorrow.

[2016-02-24 23:15] Jameskmonger commented on #48
I initially added this to the `0.9.0` milestone, but I haven't used GitLab before. I'd like to take a bit more of a look into their API.

[2016-02-24 23:18] Jameskmonger opened #51 "Update npm description"
I think that we should change:

to:

[2016-02-24 23:20] Jameskmonger opened #52 "Publish 0.7.3 stable to npm"
Publish to npm as `0.7.3`, which is the stable release of `0.7.3-alpha`.

[2016-02-24 23:25] himynameisdave commented on #42
Just because this is an inquirer issue doesn't mean it is complete. I will lower the priority and we'll keep this open until a safer solution can be found...

[2016-02-24 23:25] himynameisdave commented on #52
:+1:

[2016-02-24 23:26] himynameisdave commented on #51
Agreed :+1:

[2016-02-24 23:32] himynameisdave commented on #48
Yeah this isn't a priority for `0.9.0`, I'm thinking this is a significant change that would be better for a `1.x` release

[2016-02-24 23:38] Jameskmonger commented on #51
This has been completed by @himynameisdave and will be released with `0.7.3`.

[2016-02-24 23:39] Jameskmonger commented on #35
This has been completed and is now awaiting review by @himynameisdave for release in `0.7.3`.

[2016-02-24 23:40] Jameskmonger commented on #52
This is all ready for you to `npm publish` after merging the `0.7.3-stable` branch, @himynameisdave !

[2016-02-24 23:41] Jameskmonger commented on #42
I've noticed that the issue doesn't appear on my Ubuntu machine, it only appears (occasionally) in the Windows terminal (Node 5.6.0)

[2016-02-24 23:45] Jameskmonger opened #55 "Investigate Bitbucket"
I think it would be good to investigate [Bitbucket](https://bitbucket.org/) as a potential integration.

There doesn't appear to be a "Label" system on Bitbucket that goes by the same name, however there is [apparently a "components" system which works in the same way](https://bitbucket.org/site/master/issues/5356/labels-for-issues-bb-6550).

Bitbucket is used by a lot of people/companies with [JI

[2016-02-25 05:35] NewAlexandria commented on #46
:+1:  look forward to it.

[2016-02-25 07:47] TheCodeDestroyer commented on #48
Since your code tightly couples to GitHub API, maybe it wouldn't be a bad idea to rename this to "github-labelmaker" and make the other two as separate projects. You probably don't want to get into the battle where one change breaks the other two and vice-versa.

[2016-02-25 10:04] Jameskmonger commented on #48
I think we could potentially have this as a project which supports labelling for the different platforms, we can just let the user select which service they want to use.

[2016-02-26 02:07] #35 closed

[2016-02-26 02:07] #51 closed

[2016-02-26 02:10] #52 closed

[2016-02-26 02:14] himynameisdave commented on #55
Agreed, this tool is called **git-**labelmaker so it should technically support all types of Git managers/softwares like GitLab and BitBucket

[2016-02-27 20:55] Jameskmonger opened #56 "Investigate migration from Inquirer"
I think Inquirer is quite heavy and has a lot of compatibility issues. We could potentially look into another solution.

[2016-02-28 15:04] aloisdg opened #57 "Add a list of project using this tool"
Hello,

I think it would be a great addition to add a list of projects using this tool. It would be like a portfolio to show to someone to convince them to use it.

What do you think?

[2016-02-29 04:10] himynameisdave commented on #56
Personally, I totally disagree given that [plenty of big-name projects use it](https://www.npmjs.com/browse/depended/inquirer), including [`nodal`](https://www.npmjs.com/package/nodal) and [`nativescript`](https://www.npmjs.com/package/nativescript). Not to mention it is baked right into [Yeoman](http://yeoman.io/), a tool that is used by hundreds of developers every day.

I'm completely open to b

[2016-02-29 04:16] himynameisdave commented on #57
@aloisdg I am not aware of any projects using this tool at this time (aside from me and a few of my peers). I will let you know if anyone informs me that they are using it. Meantime, [here's some folks on twitter](https://twitter.com/search?f=tweets&q=c5d2e6004b63) who may/may not be using it as they are discussing [this article](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63#.jpz6

[2016-02-29 04:16] #57 closed

[2016-02-29 09:09] Jameskmonger commented on #56
I think it is a good tool, however the compatibility issues that `inquirer` suffers from on Windows make it a difficult choice fro me...

[2016-03-21 23:47] himynameisdave opened #59 "Buttercup throwing error"
Not sure wtf is going on, but here's a log of the error:

![screen shot 2016-03-21 at 7 46 02 pm](https://cloud.githubusercontent.com/assets/4298089/13937731/ab2a87c4-ef9d-11e5-958b-765f08c3b61c.png)

Happened when trying to run it for the first time in like a month

[2016-03-21 23:54] himynameisdave commented on #59
Solved by deleting/re-installing my `node_modules` folder in git-labelmaker.

I don't like that. Going to try to upgrade to `buttercup@0.17.0` to see if this helps resolve any issues

[2016-03-22 00:01] himynameisdave opened #60 "Allow plain word colors"
I'd like to map each web color to it's hex value, that way users can specify a color using a simple word instead of a hex or rgb value

[2016-03-22 00:43] Jameskmonger commented on #59
Let me know if the 0.17.0 update fixes it. I'll log an issue with Buttercup.

[2016-03-22 00:45] Jameskmonger commented on #60
This could be quite an easy fix, @himynameisdave.

Take a look at the [npm module color-name](https://www.npmjs.com/package/color-name). You can see a demo on [tonic](https://tonicdev.com/npm/color-name).

[2016-03-22 00:56] himynameisdave commented on #59
@Jameskmonger It doesn't seem to fix it

[2016-03-22 01:14] himynameisdave commented on #60
@Jameskmonger thanks, I figured someone must have made a module for this so I'm glad you found it :+1: :tada:

[2016-03-23 14:20] himynameisdave commented on #59
Related: https://github.com/buttercup-pw/buttercup-core/issues/70

[2016-03-30 15:24] himynameisdave commented on #59
Isolated incident, closing for now

[2016-03-30 15:24] #59 closed

[2016-04-07 13:53] himynameisdave opened #61 "Upgrade Inquirer"
Inquirer just released a proper `v1.0.0` based on promises. I would like to use this as it means we can get rid of our promise wrapper for prompts.

https://github.com/SBoudrias/Inquirer.js/releases/tag/v1.0.0

[2016-05-12 02:03] #15 closed

[2016-05-12 02:03] #21 closed

[2016-05-12 02:03] #46 closed

[2016-05-23 16:05] TheCodeDestroyer opened #64 "Path to labels.json"
Currently with option `Add Labels From Package` I can only take the path from current directory, it would be awesome if I could specify path to some other directory with my labels.json or even HTTP so I can use a Gist.

[2016-05-23 16:08] Jameskmonger commented on #64
I'd be happy to pick this up @himynameisdave.

I think the best approach would be to support other local paths now, and then look at HTTP support.

[2016-05-23 19:23] himynameisdave commented on #64
@Jameskmonger go for it!

[2016-06-28 20:37] jakejohns opened #65 "Require sudo to store token?"
It seems that the `.git-labelmaker.bcup` is written to `/usr/local/lib/node_modules/git-labelmaker`, which means that I need to be a privileged user (`sudo git-labelmaker`) to store my token?
eg. If i dont run with sudo first, I'm prompted for my token every time.

Would not it make more sense to use some XDG directory (data or config or something) to store the token under the users home directory

[2016-07-14 22:31] marcusmoore opened #66 "TypeError: Cannot read property 'split' of undefined"
I've previously run git-labelmaker and it worked just fine but when I ran it today I needed to use a new token since I forgot my password. After I entered the new token and a master password I got the error `[TypeError: Cannot read property 'split' of undefined]`. I uninstalled and reinstalled git-labelmaker and it didn't fix the issue. I tried diving into the source to see what might be happening

[2016-07-28 15:46] dwoodiwiss commented on #66
My guess would be that the repos url format is possibly causing the issue.
https://github.com/himynameisdave/git-labelmaker/blob/master/bin/modules/readRepo.js#L14

Some github urls contain `:` which might not be getting picked up by [this package](https://github.com/tj/node-github-url-from-git) - which is used in this project.

[2016-07-28 18:19] himynameisdave commented on #66
@dwoodiwiss thanks for looking into this, I think you may be correct in which case I will file & fix it in [`node-github-url-from-git`](https://github.com/tj/node-github-url-from-git)

[2016-07-29 15:26] mjbrender opened #67 "Recognize multiple remotes"
A common open source workflow includes having an `origin` remote for my fork and an `upstream` fork for the primary project. I found, to use this tool, I have to rename my upstream to origin for it to work.

I'm good with either updating documentation to include that note or adding additional logic to ask which remote is the right one. Your call 👍

[code]

[2016-07-30 19:57] marcusmoore commented on #66
Thanks for looking into this. I went back and looked at my dev log for the day and here's my notes:
[code]

The remote repo that I was intending to add labels to had a `-` in the url though. I'm not sure if that could be the issue?

[2016-09-08 10:49] pmahnke commented on #66
I have this same issue with a repo with a dash '-' in the name as well...

[2016-09-12 16:20] koobitor commented on #66
I try to change remote form ssh to https.

<img width="427" alt="screen shot 2559-09-12 at 11 20 10 pm" src="https://cloud.githubusercontent.com/assets/747341/18443527/7fda20ee-793f-11e6-9d4e-4d86a35a9310.png">

[2016-10-18 23:07] caueops commented on #30
@himynameisdave Maybe can use [mockirer](https://github.com/ceasbz/mockirer) for mock the inquirer answers 😸

[2016-10-18 23:09] himynameisdave commented on #30
Looks good to me, I will look into that!

...I mean it does have an emoji in the description so it must be good 👍  :P

[2016-10-18 23:10] caueops commented on #30
Yeaah!!! If you need any help, let me know! 🙂
Em ter, 18 de out de 2016 às 21:09, Dave Lunny notifications@github.com
escreveu:

[2016-10-19 15:04] sebastienbarre commented on #59
I'm experiencing a similar issue as well. I wiped out my `node_modules`, cleaned the npm cache, and re-install `git-labelmaker` (globally), and I'm getting:

[code]

Thanks

[2016-11-16 13:02] benjamincharity opened #69 "Failed opening archive: Error: Encrypted content has been tampered with"
Recently updated `git-labelmaker` and am now getting this error frequently. I've recreated the token multiple times now which gets it working for a few commands, but I see this message again within minutes.

To reproduce:

- set your token
- run commands (I can usually run a few in quick succession before seeing this error)
- `$ git-labelmaker`
- choose: use saved token
- type your master password

[2016-11-16 13:31] Jameskmonger commented on #69
@perry-mitchell

[2016-11-16 14:24] perry-mitchell commented on #69
Hi @benjamincharity - The underlying encryption engine outputs that message when it can't properly decrypt the content. The message is a bit misleading, though it basically means that your password was not correct and the HMAC authentication on the data was not matched (your Git credentials were not retrievable in this case).

Could you possibly retry with a VERY simple password? Like "abc" or som

[2016-11-16 15:04] benjamincharity commented on #69
Interesting. That actually does make sense.. I could have easily mistyped it which would be why it seemed to work when I `ctrl+c`'d and tried again. Just a confusing error message.

Thanks for the clarity! (and the useful project!)

[2016-11-16 15:04] #69 closed

[2016-11-16 15:06] perry-mitchell commented on #69
@benjamincharity No problem! The message **is** unclear, and we're working to formulate better failure messages.

[2017-01-17 14:30] davidhellmann opened #70 "TypeError: Cannot read property 'url' of undefined"
[code]

I've a repo with dots like `com.foobar.www` maybe that's a Problem.
Any Idea how I can fix that?

Node 7.4.0

[2017-01-18 23:23] himynameisdave commented on #70
I believe other people have also experienced this issue. Personally I haven't tried it on Node 7+ (but I sort of doubt thats the issue).

I will look more into this, thanks for reporting!

[2017-01-19 04:53] himynameisdave commented on #65
Nope, this wasn't designed to require `sudo` to run. After some investigation, it seems that there is no need to use `sudo` if you have properly installed node/npm:

https://www.sitepoint.com/solve-global-npm-module-dependency-problem/#a-brief-note-on-security

I hope this helps, feel free to refile the issue if you are still seeing this after properly installing node. 👍

[2017-01-19 04:53] #65 closed

[2017-02-08 11:20] Turbo87 commented on #56
@Jameskmonger do you have an alternative?

[2017-02-12 18:06] Jameskmonger commented on #56
No alternative @Turbo87 - I did the honourable thing a few months back and ditched Windows instead :wink:

[2017-03-05 02:31] EmmaRamirez opened #73 "Feature Request: Support setting global package"
One of the main pieces that would help speed up using git-labelmaker is including an option for using a package from a file as the default package to use when no input is given for `Add Labels from Package`. This way you can just simply use one package for all of your repos.

I'd definitely be willing to submit a PR if the maintainers think this is a good idea.

[2017-03-06 14:59] himynameisdave commented on #73
@EmmaRamirez This is a great idea! Feel free to submit!

[2017-03-07 03:10] himynameisdave commented on #73
@EmmaRamirez so if implemented, where would this global package live? Would there be a new option to create a global package, or would the user just be able to store it somewhere outside the local directory?

[2017-03-07 04:18] emzinnia commented on #73
Hmm, that's a good question. I'd imagine an option to create a global package, and storing it somewhere (arguably an absolute path based off OS)

[2017-03-18 19:05] himynameisdave commented on #70
@davidhellmann what exactly was your Git url? In your `.git/config` file, did it look something like this?
[code]

If so, I don't think that test case is being covered in the [`node-github-url-from-git`](https://github.com/tj/node-github-url-from-git/blob/master/test.js) package we use to parse the git config.

Please respond with the exact git url that gave you trouble and I will file & fix in th

[2017-03-28 04:01] amirsobhi opened #75 "TypeError: Cannot read property 'split' of undefined"
node -v
v6.10.1
npm -v
3.10.10
git-labelmaker
? What is your GitHub Access Token? <redacted>
? What is your master password, to keep your access token secure? ******
TypeError: Cannot read property 'split' of undefined
    at module.exports (/usr/lib/node_modules/git-labelmaker/bin/modules/readRepo.js:14:32)
    at Promise.all.then (/usr/lib/node_modules/git-labelmaker/bin/index.js:38:19)

For now

[2017-03-31 19:37] himynameisdave commented on #70
@davidhellmann re: https://github.com/himynameisdave/git-labelmaker/issues/70#issuecomment-287567458 do you have a git url for me? If not I may defer this fix until a later release so that I can get `0.9.0` released and out to users when it's stable

[2017-04-01 20:20] himynameisdave commented on #75
Thanks for submitting, sorry about the issue!

This has been fixed in https://github.com/himynameisdave/git-labelmaker/pull/66 and will be published in [`v0.9.0`](https://github.com/himynameisdave/git-labelmaker/milestone/9) which I will release today.

[2017-04-01 20:20] #75 closed

[2017-04-01 20:45] himynameisdave opened #76 "Update buttercup dep"
Update `buttercup` dependency from `~0.24.0` to latest (which is `0.37.0` at time of writing).

Tested it, and it looks like there were some significant changes as upgrading will break it `git-labelmaker`.

[2017-04-01 20:48] himynameisdave opened #77 "Update inquirer dep"
Upgrading would allow us to use the promise-based inuirer.

Currently at `0.11.4`, wanted `3.0.6`.

[2017-04-02 05:49] himynameisdave commented on #30
Closed by #78 and will be released in `v0.9.0`

[2017-04-02 05:49] #30 closed

[2017-04-02 05:53] himynameisdave commented on #61
Closing because duplicate #77

[2017-04-02 05:53] #61 closed

[2017-04-02 05:55] himynameisdave commented on #77
Investigate if the "issues on Windows" from https://github.com/himynameisdave/git-labelmaker/issues/56#issuecomment-190113130 have been resolved once upgrading.

[2017-04-02 06:01] himynameisdave commented on #42
Just tested, I don't believe it happens to me...

![screen recording 2017-04-01 at 10 59 pm](https://cloud.githubusercontent.com/assets/4298089/24584805/fbfc1834-172e-11e7-952c-ca2e4c975a48.gif)

I will check it out on Windows, and will see if resolving #77 would solve this

[2017-04-02 06:36] himynameisdave opened #79 "Some metrics would be nice"
Would be nice to track which features of the tool users are using most often. Also error reporting would be key.

Maybe mixpanel or something

[2017-04-02 06:54] himynameisdave opened #80 "Finish writing tests"
Even though coverage says 100%, we know it's not quite there... :)

Also, using mockier [as suggested here](https://github.com/himynameisdave/git-labelmaker/issues/30#issuecomment-254665046) might be helpful 👍

[2017-04-08 23:43] himynameisdave opened #81 "Investigate the `preferences` package"
This package might be better/simpler to use than buttercup... unsure if it's as secure, needs investigation.

https://www.npmjs.com/package/preferences

[2017-07-17 19:17] CloudNiner opened #82 "Provide a way for the user to escape from their current selection"
If I select the wrong option in the CLI, or change my mind and want to return to the previous menu, it appears the only current recourse is to CTRL+C and restart the program. This requires re-entering a token or the saved token password and navigating back through the menus.

For example, if I follow the prompts to the "Which label would you like to remove?" option, I must select at least one, and

[2017-07-18 02:45] himynameisdave commented on #82
Yeah you're totally right though, that is an annoying UX. I think the behaviour should be as follows:

- User types in the token or password
- User goes about using the application
- User wants to go back, they hit `CTRL-C` or `CMD-C`
- We will then ask if they want to exit the application
- If so, we exit gracefully, otherwise we will keep them on the same menu that they are on

Thanks for the su

[2017-07-19 00:56] CloudNiner commented on #82
I'm not sure overloading ctrl+c is a clean way to offer the "go back one menu" functionality, the keys "esc", "backspace", "q" or "b" might feel more natural. With that said, I'm not super familiar with really any of these nodejs CLI programs, so if ctrl+c for that is a standard convention then that makes more sense.

Either way, no hurry on an implementation, it's just something I noted as I used

[2017-07-19 08:12] Jameskmonger commented on #82
CTRL+C normally exits the program. I don't think we should override standard behaviour.

[2017-08-05 22:50] himynameisdave opened #83 "Add update warning"
Would be nice to alert the user that there is a new version of the package available for download

[2017-08-06 00:02] himynameisdave commented on #70
@davidhellmann any chance you can update me [re: my comment above ☝️](https://github.com/himynameisdave/git-labelmaker/issues/70#issuecomment-290810024)

[2017-08-06 02:12] himynameisdave commented on #42
I'm fairly confident that this is fixed as of 9668673f100ab2e5bfb2721220a78fe19c01df33 when the `inquirer` package was updated. Input is _always_ hidden when typing sensitive information now:

![image](https://user-images.githubusercontent.com/4298089/29000002-e9064718-7a11-11e7-8e7b-07c7baaaf892.png)

Marking this issue as closed.

[2017-08-06 02:12] #42 closed

[2017-08-06 02:17] himynameisdave commented on #70
Actually I believe this issue was fixed when #66 was fixed (d46aea62502e2a7c542710dbd94174762a51e7d3).

Closing, but will reopen if you are still experiencing the issue.

[2017-08-06 02:17] #70 closed

[2017-08-06 02:20] himynameisdave commented on #56
Closing for the same [reason mentioned here](https://github.com/himynameisdave/git-labelmaker/issues/42#issuecomment-320481058).

Again, willing to reopen if this is still an issue, but I feel like it should be fixed on Windows now.

[2017-08-06 02:20] #56 closed

[2017-08-23 04:49] himynameisdave opened #86 "Error when trying to create a package from labels when there are no labels"
If a repo has no labels, then you try to create a package from labels, there is no error handling in place. Doesn't really "break", but it generates an Error.json file which is not ideal.

[2018-02-13 13:46] dxlr8r commented on #48
Would love gitlab support as well :)

[2018-02-23 20:51] shellscape opened #87 "Request: Multiple Actions per Session"
Lovely utility, thank you for making it. It's a little maddening to have to re-enter a password for each function of the utility that you want to run. For example, a typical flow:

- delete all labels
- load labels from package

That requires selecting the saved token and entering the password twice. That's kinda silly. It would be very intuitive for the utility to return to the default menu after

[2018-02-25 19:36] himynameisdave commented on #87
Totally agree, looking at doing this for the next major release!

[2018-02-25 23:01] shellscape commented on #87
Great! Thanks!

[2018-03-10 20:12] himynameisdave commented on #83
https://www.npmjs.com/package/update-notifier

[2018-07-26 21:15] Berkmann18 opened #90 "Nothing updated"
I installed the package as a global one and followed the README, so I created a token with full `repo` access, I created all my labels but I can't find those labels nor do they appear in my labels when I go into a public repo.

Did I miss something or is this package not meant to work that way?

[2018-08-24 14:20] jonathanasquier opened #91 "Throws when executed inside a gitsubmodule"
it seems parse-git-config cannot find .git/config

[2018-08-28 02:58] nightire opened #92 "Throws when try to remove all labels"
With version 0.9.0, when execute remove all labels, throw the following error:

[code]

ATM, I'm now sure what else info I should provide, if need more, plz let me know.

[2018-10-08 13:40] iforwms opened #93 "Allow adding description to label"
API supports adding description to label, see below:

![image](https://user-images.githubusercontent.com/10304616/46612222-d2676080-cb07-11e8-91f6-e7ba1e8dfe60.png)

[2018-10-15 13:55] gregoralbrecht commented on #93
Seems like this should be tackled in [`git-label`](https://github.com/jasonbellamy/git-label) and someone already [opened a PR](https://github.com/jasonbellamy/git-label/pull/22) a while ago.

[2018-11-01 21:19] Yamilquery commented on #93
+1

[2018-11-02 11:33] iforwms commented on #93
@gregoralbrecht I created a very naive implementation written in PHP, and the above pull request won't work (I don't think). I think it's still an experimental feature, so the you will also need to add the following header to the request or descriptions will be ignored.

`'Accept' => 'application/vnd.github.symmetra-preview+json'`

[2018-12-22 13:42] shellscape commented on #90
I typically get this to work on most of my repos. However, I have run into a few where it does not work, and I can't seem to figure out the pattern for why it doesn't.

[2019-01-18 17:21] GregTheGreek commented on #90
+1 does not seem to be working.
I get `Successfully created 31 labels` put nothing happened.
Also tried removing all existing labels and did not work.
I got it to successfully work on one repo but doesn't work on others.

[2019-01-18 17:23] GregTheGreek commented on #90
Im wondering if its becasue existing issues are open?

[2019-01-18 17:26] GregTheGreek opened #94 "Custom label option: unhandled errror"
When adding a custom label if you pass in a hex `#e3e3e3` it will tell you that the label was created but it actually does not. It will only create the label if you pass in `e3e3e3` without the `#`.

[2019-01-18 17:26] Berkmann18 commented on #90
@GregTheGreek Perhaps, but I've used websites which allowed users to copy-paste/edit/delete labels even when existing issues were opened.

[2019-01-18 17:29] GregTheGreek commented on #90
@Berkmann18 I just confirmed that open issues are not the problem. Although i found this bug #94

[2019-01-18 17:32] Berkmann18 commented on #94
That's something to do with the API I think, as, on two of the websites (not sure about CLI tools like this as none worked), the hex values were displayed without the `#`.

[2019-01-19 18:04] GregTheGreek commented on #90
@Berkmann18 I found a weird behaviour.

If you have renamed your repo, and have not updated the remote on your project locally it won't allow it to work.

[2019-01-19 19:53] Berkmann18 commented on #90
Hum, that's interesting...

[2019-06-18 04:07] oldiron-ho opened #95 "Support for International Charaters"
When using Korean character label, removing labels make some error.
It seems that international charaters in a label cause encoding problem.

https://github.com/himynameisdave/git-labelmaker/blob/dbe537fc0e06261fca13339ee5094c877809694b/bin/index.js#L123-L125

Above code should be
[code]

I confirmed that the problem was resolved.

[2019-06-21 15:54] EigenTheory commented on #90
I am having the same problem... Nothing actually got created.

![image](https://user-images.githubusercontent.com/1594192/59935194-e42d3180-9412-11e9-8caf-21e2f4d8a505.png)

[2019-10-16 16:57] MoisesFlores22 commented on #90
I made a PR to fix the endpoint `https://github.com/himynameisdave/git-labelmaker/pull/96`

[2019-10-16 18:23] Berkmann18 commented on #90
@MoisesFlores22 If so you should add "Close"/"Fix"/... #90

[2019-10-18 21:03] MoisesFlores22 commented on #90
my issues was with sso of my token, but we need someway to check the answer is given by the api

[2019-12-11 08:34] danieliser commented on #87
@himynameisdave Could likely be shortened and simplified. I came here looking for the same thing, but am realizing there are very few actions that need to be chained together in common situations. Maybe start by adding those as built ins?

- Remove all Tags & Import
- Remove Tag could be changed to remove selected tags and let them choose which tags to remove?

[2019-12-12 15:39] andyinabox opened #97 "Make scriptable"
It would be great if this tool were bash-scriptable, to make it possible to automate updating multiple repos at once.

Example: I have a `labels.json` shared across all the repos in my org, and I want to add a label. I would then use a script to update all my repos automatically, rather than have to do it interactively through the CLI.

[2020-01-16 16:59] guylepage3 opened #99 "Ability to update a label"
I was poking around and did not see the ability to "update" a label, it's color and description. It would be awesome to update a label. Or is this something that the GitHub API cannot handle?

[2020-05-12 14:27] #91 closed

[2020-08-30 09:10] #92 closed

[2020-10-02 14:37] maxschmeling commented on #99
There is an `updateLabel` mutation: https://docs.github.com/en/free-pro-team@latest/graphql/reference/mutations#updatelabel